-- Fullscreen Matrix welcome splash after login.
o.window("org.omarchy.matrix-welcome", { fullscreen = true })
o.window("org.omarchy.matrix-welcome", { float = true })
o.window("org.omarchy.matrix-welcome", { animation = "fade" })
o.window("org.omarchy.matrix-welcome", { tag = "-default-opacity" })
o.window("org.omarchy.matrix-welcome", { opacity = "1 1" })
